.App {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.App-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 

}
#sval {
  border-width: medium;
  border: 0.5rem solid rgb(27, 25, 25);
  padding: 0.5rem; 
  font: bold 1rem sans-serif; 
}


@media (min-width: 650px ) {
  .App {
      background-position: center center;
  }

  .App-content {
      align-items: flex;
      justify-content: middle;
      font-size: calc(10px + 2vmin);
    
  }
  #sval {
    border-width: medium;
    border: 0.5rem solid rgb(27, 25, 25);
    padding: 0.5rem; 
    font: bold 1rem sans-serif; 
  }
}

